# Contenido original
fastapi
uvicorn
python-multipart
watchfiles
moviepy==1.0.3
opencv-python
numpy
Pillow
tqdm
python-dotenv

# Librerías de IA añadidas
RealESRGAN
huggingface-hub==0.20.3


# --- Bloque de PyTorch ---
# Esta opción le dice a pip dónde buscar los siguientes paquetes
--extra-index-url https://download.pytorch.org/whl/cu129
torch
torchvision
torchaudio